<div class="bg-gray min-h-screen p-6">
    <div class="max-w-7xl mx-auto">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
            <div class=" bg-white rounded-lg-shadow p-4">
                <p-table #dt [value]="products()" [rows]="10" [lazy]="true" [totalRecords]="totalRecords()" [columns]="cols" [paginator]="true" [loading]="loading()" (onLazyLoad)="cargarDatos($event)"
                    [tableStyle]="{ 'min-width': '20rem' }" [rowHover]="true" dataKey="id" 
                    currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} productos" [showCurrentPageReport]="true">
                    <ng-template #caption>
                        <div class="flex items-center justify-between">
                            <h5 class="m-0">Administrar Datos</h5>
                            <p-iconfield>
                                <p-inputicon class="pi pi-search" />
                                <input pInputText type="text" placeholder="Buscar..." [(ngModel)]="search" (change)="funListarProductos()" />
                            </p-iconfield>
                        </div>
                    </ng-template>
                    <ng-template #header>
                        <tr>
                            <th style="min-width: 2rem">ID</th>
                            <th pSortableColumn="nombre" style="min-width:8rem">
                                <div class="flex items-center gap-2">
                                    Nombre
                                    <p-sortIcon field="name" />
                                </div>
                            </th>
                            <th>Imagen</th>
                            <th pSortableColumn="precio" style="min-width: 8rem">
                                <div class="flex items-center gap-2">
                                    Price
                                    <p-sortIcon field="price" />
                                </div>
                            </th>
                            <th pSortableColumn="categoria" style="min-width:3rem">
                                <div class="flex items-center gap-2">
                                    Category
                                    <p-sortIcon field="category" />
                                </div>
                            </th>
                            <th style="min-width: 2rem"></th>
                        </tr>
                    </ng-template>
                    <ng-template #body let-product>
                        <tr>
                            <td style="min-width: 1rem">{{ product.id }}</td>
                            <td style="min-width: 8rem">{{ product.nombre }}</td>
                            <td>
                                <p-image [src]="'http://127.0.0.1:8000/' + product.imagen" alt="Image" width="60" [preview]="true" />

                            </td>
                            <td>{{ product.precio_venta | currency: 'USD' }}</td>
                            <td>{{ product.categoria.nombre }}</td>
                            
                            
                            <td>

                                <p-button icon="pi pi-plus" class="mr-2" [rounded]="true"
                                    (click)="addCarrito(product)" />
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
            <div class="flex flex-col gap-6">
                <div class="bg-white rounded-lg shadow p-4">
                    <h2 class="text-xl font-semibold mb-4">Carrito</h2>
                    <p-table [value]="carrito()" [tableStyle]="{ 'min-width': '5rem' }">
                        <ng-template #header>
                            <tr>
                                <th>Nombre</th>
                                <th>Precio</th>
                                <th>cantidad</th>
                                <th>Acción
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template #body let-carr>
                            <tr>
                                <td>{{ carr.nombre }}</td>
                                <td>{{ carr.precio }}</td>
                                <td>{{ carr.cantidad }}</td>
                                <td>
                                    
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>

                <div class="bg-white rounded-lg shadow p-2">
                    <h2 class="text-xl font-semibold">Sucursal/Almacen</h2>

                    <div class="card flex justify-center">
                        <p-select [options]="sucursales()" [(ngModel)]="selectedSucursal" optionLabel="nombre" optionValue="id" placeholder="Seleccionar Sucursal" class="w-full md:w-56" (ngModelChange)="funSelectedSucursal()" />
                    </div>

                    @if (!almacen().id) {
                        <p-table [value]="almacenes()">
                            <ng-template #header>
                                <tr>
                                    <th>ID</th>
                                    <th>NOMBRE</th>
                                    <th>CODIGO</th>
                                    <th>SUCURSAL</th>
                                    <th>ACCION</th>
                                </tr>
                            </ng-template>
                            <ng-template #body let-alm>
                                <tr>
                                    <td>{{ alm.id }}</td>
                                    <td>{{ alm.nombre }}</td>
                                    <td>{{ alm.codigo }}</td>
                                    <td>{{ alm.sucursal.nombre }} <br>
                                        <small>{{alm.sucursal.direccion}}</small>
                                    </td>
                                    <td>
                                        <p-button icon="pi pi-plus" class="mr-2" [rounded]="false" [outlined]="false" (click)="seleccionarAlmacen(alm)"></p-button>
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>
                    }
                    @if (almacen()) {
                        <h6>ALMACEN: {{ almacen().nombre }}</h6>
                        <h6>CODIGO: {{ almacen().codigo }}</h6>
                    }
                </div>
                <div class="bg-white rounded-lg shadow p-4">
                    <h2 class="text-xl font-semibold mb-4">Proveedor</h2>
                    <p-button label="Nuevo Proveedor" (click)="showDialogClienteProveedor()"></p-button>
                    <input pInputText placeholder="Buscar Proveedor..." [(ngModel)]="buscar_proveedor" (change)="funGetClienteProveedor()">


                    @if (!clienteProveedor().id) {
                        <p-table [value]="lista_cliente_proveedor()">
                            <ng-template #header>
                                <tr>
                                    <th>ID</th>
                                    <th>RAZON_SOCIAL</th>
                                    <th>TIPO</th>
                                    <th>ACCION</th>
                                </tr>
                            </ng-template>
                            <ng-template #body let-clie>
                                <tr>
                                    <td>{{ clie.id }}</td>
                                    <td>{{ clie.razon_social }}</td>
                                    <td>{{ clie.tipo }}</td>
                                    <td>
                                        <p-button icon="pi pi-plus" class="mr-2" [rounded]="false" [outlined]="false" (click)="seleccionarClienteProveedor(clie)"></p-button>
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>
                    }
                    <br>
                    @if (clienteProveedor().id) {
                        <h6>RAZON SOCIAL: {{ clienteProveedor().razon_social}}</h6>
                        <h6>TELEFONO: {{ clienteProveedor().telefono}}</h6>
                        <h6>DIRECCION: {{ clienteProveedor().direccion}}</h6>
                        <h6>CORREO: {{ clienteProveedor().correo}}</h6>

                    }
                </div>

                <div class="bg-white rounded-lg shadow p-4">
                    <p-button label="Registrar Compra" (click)="funRegistrarCompra()"></p-button>

                </div>
            </div>
        </div>

    </div>

</div>

<p-dialog header="Proveedor" [modal]="true" [(visible)]="visibleClienteProveedor" [style]="{ width: '25rem' }" [formGroup]="proveedorForm">
    <span class="p-text-secondary block mb-8">Update your information.</span>

    <div class="flex items-center gap-4 mb-8">
        <label for="rs" class="font-semibold w-24">Razon Social</label>
        <input pInputText id="rs" class="flex-auto" autocomplete="off" formControlName="razon_social" />
    </div>
    <div class="flex items-center gap-4 mb-8">
        <label for="NroIdentificación" class="font-semibold w-24">Nro Identificación</label>
        <input pInputText id="NroIdentificación" class="flex-auto" autocomplete="off" formControlName="nro_identificacion" />
    </div>
    <div class="flex items-center gap-4 mb-8">
        <label for="tel" class="font-semibold w-24">Telefono</label>
        <input pInputText id="tel" class="flex-auto" autocomplete="off" formControlName="telefono" />
    </div>
    <div class="flex items-center gap-4 mb-8">
        <label for="dir" class="font-semibold w-24">direccion</label>
        <input pInputText id="rs" class="flex-auto" autocomplete="off" formControlName="direccion" />
    </div>
    <div class="flex items-center gap-4 mb-8">
        <label for="correo" class="font-semibold w-24">correo</label>
        <input pInputText id="correo" class="flex-auto" autocomplete="off" formControlName="correo" />
    </div>
    <div class="flex justify-end gap-2">
        <p-button label="Cancelar" severity="secondary" (click)="visibleClienteProveedor.set(false)" />
        <p-button label="Save" (click)="funGuardarClienteProveedor()" />
    </div>
</p-dialog>